.add__new {
  display: flex;
  background: $c-white;
}


.add__new-title {
  padding: 1rem;
}

.info  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background: $c-white;
}

.input__field  {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding:  0.5rem;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  border-top: 0.1rem solid $c-gray;

}
