.hero {
  display: flex;
  justify-content: center;
  background-color: #612856;
  color: $c-white;
  &-title {
    text-align: center;
  }
}

.title {
  border-bottom: 0.1rem solid $c-black;
}


.card {

  box-shadow: 0.2rem 0.2rem 0.4rem rgba(#000, 0.4);
  background-color: $c-white;
  &__header {
    background: $c-primary;
    color: $c-white;
    margin: 0;
    padding: 0.5rem;

  }

  &__content {
    padding: 0.5rem;
    border-bottom: 0.1rem solid $c-dark-gray;
    &--total {
      padding: 0.5rem;
      border-bottom: 0.1rem solid $c-dark-gray;

    }
  }

}


.order-btn {
  display: flex;
  border: none;
  background: $c-success;
  color: $c-white;
  flex-grow: 1;
  height: 4rem;
}
