.hero {
  display: flex;
  justify-content: center;
  background-color: #612856;
  color: $c-white;
  &-title {
    text-align: center;
  }
}

.title {
  border-bottom: 0.1rem solid $c-black;
}


.card {
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(#000, 0.4);
  background-color: $c-white;
  &:last-of-type {
    border-bottom: 0;
  }
}

.card__header {
  margin-bottom: 0;
  padding: 0.5rem;
  background: $c-primary;
  color:$c-white;
}

.card__content {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid $c-gray;
}

.card--order {
  padding: 1rem;
}

.card__item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
}

.card__name {
  margin: 0;
}

.card__description {
  margin: 0;
}

.card__hero {
  padding: 1rem;
}

.card__sum {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
  border-top: 0.1rem solid $c-gray;
  border-bottom: 0.1rem solid $c-gray;
}





.order-btn {

  border: none;
  background: $c-success;
  color: $c-white;

  &--full {
    width: 100%;
    padding: 1rem;
    text-align: center;
  }
}
