.container {
  max-width: 70rem;
;
  margin: 0 auto;
}


// blcok level grid component
.grid {
    display: flex;

// element with grid components
  &__item {
    flex-basis: calc(100% / 4 - 2rem - 2rem);
    flex-grow: 1;
    // modified grid__item that cannot be too wide
    &--max-half{
      max-width: 50%;
      @media(max-width: 500px) {
        max-width: 100%;
      }
    }
  }
}
