* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background: $c-gray;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

input {
  outline: none;
}
