<div class="hero">
  <h2 class="hero-title">Get Food Delivered FAST!</h2>
</div>

<div class="container">
  <div class="grid">
    <div class="grid__item grid__item--left">
      <div class="title">Menu</div>
      {{#each model as |value|}}

        <div class="card">
          <p class="card__header">{{ value.name }}</p>

          {{#each value.menuItems as |item|}}
            <div class="card__content">
              <div class="card__item">
                <div class="card__text">
                  <p class="card__name">{{ item.name }}</p>
                  <p class="card__description">{{ item.description }}</p>
                </div>
                <div class="card__price">${{ item.price }}</div>
              </div>
              <button class="card__btn">Order</button>
            </div>
          {{/each}}
        </div>

      {{/each}}
    </div>

    <div class="grid__item">
      <div class="title">Your Order</div>
      <div class="card">
        <p class="card__header">Cart</p>
        <div class="card__content">
          <div class="card__hero">
            <p class="card__name">Add Something</p>
            <p class="card__description">No items have been added to the cart!</p>
          </div>

          <div class="card__sum">
            <p class="card__total">Total</p>
            <p class="card__amount">$0.00</p>
          </div>

          <div class="card__hero">
            <button class="order-btn--full">Submit Order</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
