<div class="container">
<h2 class="title">Appetizers</h2>
{{#simple-form startingValues=model onsubmit=(action "saveForm") as |formValues|}}
  <p class="field">
    {{input type="text" placeholder='name'  reuquired=true value=formValues.name}}
  </p>

  <p class="field">
    {{input type="text" placeholder='price' reuquired=true value=formValues.price}}
  </p>

  <p class="field">
    {{input type="text" placeholder='description' reuquired=true value=formValues.description}}
  </p>

  <div class="form__btn">
    {{#link-to "admint.category.detail"}}Back{{/link-to}}
    <button type="submit" name="button">Submit</button>
  </div>
  {{/simple-form}}
</div>
