<h2 class="title">Appetizers</h2>
<form {{action "saveForm" name price description on="submit"}}>

  <div class="field">
    <label for="name" class="field__label">Name</label>
    {{input type="text" name='name' reuquired=true}}
  </div>

  <div class="field">
    <label for="price" class="field__label">Price</label>
    {{input type="text" name='price' reuquired=true}}
  </div>

  <div class="field">
    <label for="description" class="field__label">Description</label>
    {{input type="text" name='description' reuquired=true}}
  </div>

  <div class="form__btn">
    {{#link-to "admint.category.detail"}}Back{{/link-to}}
    <button type="submit" name="button">Submit</button>
  </div>



</form>
