<div class="container">
  <div class="card">
    <h3 class="card__header">New Category</h3>
    <form {{action "saveForm" name goal description on="submit"}}>
      <div class="input__field">
      <p>Name</p>
        {{input type="text" required="true" value=name }}
      </div>
      <div class="card__footer">
        {{#link-to "admin.category.index" class="add__new--btn"}}Back{{/link-to}}
        <button class="add__new--btn" type="submit" name="button">Submit</button>
      </div>
    </form>
  </div>
</div>
