{{#each model as |value|}}
  <h2 class="title">{{value.name}}</h2>
  <div class="card">
    <div class="add__new-btn">
      {{#link-to "admin.category.new"}}Add New{{/link-to}}
    </div>
    <h4>Name</h4>
    <div class="add__items">
      {{#each value.menuItems as |data|}}
        <div class="add__items--list">
          <p>{{ data.name }}</p>
          <p>{{#link-to "admin.category.new"}}Detail{{/link-to}}</p>
        </div>
      {{/each}}
    </div>
  </div>
{{/each}}
